In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [25]:
driver = webdriver.Chrome(r"C:\Users\chawl\Documents\chromedriver_win32\chromedriver.exe")

In [16]:
# opening the portal
url = "https://www.cardekho.com/usedCars"
driver.get(url)

In [17]:
driver.refresh()
driver.refresh()

In [18]:
# fetching all the cities and links
city_n=[]
city_url=[]

for i in range(1,13):
    city_url.append(driver.find_element_by_xpath("//ul[@class='listing gsc_col-md-9 gsc_col-lg-9']/li["+str(i)+"]/a").get_attribute("href"))
    city_n.append(driver.find_element_by_xpath("//ul[@class='listing gsc_col-md-9 gsc_col-lg-9']/li["+str(i)+"]/a").get_attribute("title"))

In [19]:
city_n

['Used cars in  Ahmedabad',
 'Used cars in  Bangalore',
 'Used cars in  Chennai',
 'Used cars in  Delhi NCR',
 'Used cars in  Gurgaon',
 'Used cars in  Hyderabad',
 'Used cars in  Jaipur',
 'Used cars in  Kolkata',
 'Used cars in  Mumbai',
 'Used cars in  New Delhi',
 'Used cars in  Noida',
 'Used cars in  Pune']

In [20]:
city_url

['https://www.cardekho.com/used-cars+in+ahmedabad',
 'https://www.cardekho.com/used-cars+in+bangalore',
 'https://www.cardekho.com/used-cars+in+chennai',
 'https://www.cardekho.com/used-cars+in+delhi-ncr',
 'https://www.cardekho.com/used-cars+in+gurgaon',
 'https://www.cardekho.com/used-cars+in+hyderabad',
 'https://www.cardekho.com/used-cars+in+jaipur',
 'https://www.cardekho.com/used-cars+in+kolkata',
 'https://www.cardekho.com/used-cars+in+mumbai',
 'https://www.cardekho.com/used-cars+in+new-delhi',
 'https://www.cardekho.com/used-cars+in+noida',
 'https://www.cardekho.com/used-cars+in+pune']

In [9]:
from selenium.webdriver.common.action_chains import ActionChains

In [ ]:
# Scrolling till the end to load the data and get the urls fo all cities

In [24]:
co=0
urls=[]
note={}
for i in city_url:
    cars_urls=[]
    driver.get(str(i))
    count=0
    while(count<350):
        driver.execute_script("window.scrollBy(0, 50)")
        count+=1
        time.sleep(1)
        try:
            driver.find_element_by_xpath("//span[@class='show']")
            break
        except:
            continue
    url=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")
    for i in url:
        urls.append(i.get_attribute("href"))
    note[city_n[co]]=len(url)
    co+=1

In [26]:
note

{'Used cars in  Ahmedabad': 1443,
 'Used cars in  Bangalore': 2786,
 'Used cars in  Chennai': 1401}

In [31]:
key = note.keys()
val = note.values()
df = pd.DataFrame({'city':key,
                 'val':val})

In [32]:
df

                      city   val
0  Used cars in  Ahmedabad  1443
1  Used cars in  Bangalore  2786
2    Used cars in  Chennai  1401

In [33]:
df.to_csv("car_city_count.csv")

In [34]:
df = pd.DataFrame({'URLS':urls})

In [35]:
df.to_csv("car_city_urls.csv")

In [3]:
dic={}
dic['Ahmedabad'] = 1443
dic['Bangalore'] = 2786
dic['Chennai'] = 1401
dic['Delhi NCR'] = 119
dic['Gurgaon'] = 159
dic['Hyderabad'] = 159
dic['Jaipur'] = 1100
dic['Kolkata'] = 160
dic['Mumbai'] = 139
dic['New Delhi'] = 139
dic['Noida'] = 139
dic['Pune'] = 160

In [4]:
df= pd.read_csv("car_city_urls.csv")

In [28]:
myear=[]
fuel=[]
km=[]
owner=[]
transmission=[]
brand=[]
model=[]
variant=[]
price=[]
city=[]

In [ ]:
# scrapping all the data

In [29]:
for i in urls:
    driver.get(i)
    time.sleep(1)
    try:
        myear.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6 gsc_col-md-4'][1]/div/div[2]").text)
    except:
        try:
            myear.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6'][1]/div/div").text)
        except:
            myear.append("NaN")
    try:
        fuel.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6 gsc_col-md-4'][3]/div/div[2]").text)
    except:
        try:
            fuel.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6'][5]/div/div").text)
        except:
            fuel.append("NaN")
    try:
        km.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6 gsc_col-md-4'][4]/div/div[2]").text)
    except:
        try:
            km.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6'][3]/div/div").text)
        except:
            km.append("NaN")
    try:
        owner.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6 gsc_col-md-4'][6]/div/div[2]").text)
    except:
        try:
            owner.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6'][4]/div/div").text)
        except:
            owner.append("NaN")
    try:
        transmission.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6 gsc_col-md-4'][8]/div/div[2]").text)
    except:
        try:
            transmission.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6'][6]/div/div").text)
        except:
            transmission.append("NaN")
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except:
        try:
            brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']/h1[2]").text)
        except:
            brand.append("NaN")
    try:
        model.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except:
        try:
            model.append(driver.find_element_by_xpath("//div[@class='vdp-head']/h1[2]").text)
        except:
            model.append("NaN")
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='variant-name']").text)
    except:
        try:
            variant.append(driver.find_element_by_xpath("//li[@class='gsc_col-xs-6'][8]/div/div']").text)
        except:
            variant.append("NaN")
    try:
        price.append(driver.find_element_by_xpath("//div[@class='priceSection']/span[2]").text)
    except:
        try:
            price.append(driver.find_element_by_xpath("//span[@class='amount']").text)
        except:
            price.append("NaN")
    try:
        st = i
        st = st.split("_")
        st = st[0]
        st = st.split("-")
        st = st[len(st)-1]
        city.append(st)
    except:
        city.append("NaN")

In [ ]:
# saving all the scrapped data

In [35]:
fin_df=pd.DataFrame({
    'myear':myear,
'fuel':fuel,
'km':km,
'owner':owner,
'transmission':transmission,
'brand':brand,
'model':model,
'variant':variant,
'price':price,
'city':city
    
})

In [36]:
fin_df.to_csv("CarPricePrediction.csv")

In [32]:
len(urls)

7904